@import 'src\Styles\Font\fonts\font.css';

$font-family-1: 'Avenir Next';
$font-family-2: 'Avenir Next Light';
$font-family-3: 'Work San Medium';
$font-family-4: 'Work San Light';
$font-family-5: 'SF Compact Text';

$primary-color-blue: #213f7d;

$primary-color-gray: #545f7d;
$primary-color-green: #39cdcc;

$font-size-medium: 14px;
$font-size-light: 12px;

$border-radius: 8px;

$form-padding: 12px;

$form-border: 2px solid rgba(86, 84, 125, 15%);

$border: 1px solid rgba(86, 84, 125, 4%);

$background-sidebar: rgba(57, 205, 204, 6%);

$div-border: 1px solid rgba(57, 205, 204, 6%);

$nav-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

$org-form-border: 1px solid rgba(33, 63, 125, 0.2);
